<h1>Stupid Coaching</h1>

<div class="box">
  <h3><%= @question %> <br> <i>-Robyn</i></h33>
</div>
<div class="coach-box">
  <h3><%= @answer %> <br><i>-Coach</i></h3>
</div>

<%= link_to "Ask a question to your stupid coach", 'http://localhost:3000/ask' %>
